* {
  margin: 0;
  padding: 0;
}

/* navigation bar css */
nav {
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

a:hover {
  color: rgba(255, 255, 255, 0.629);
}