* {
  margin: 0;
  padding: 0;
}

/* navigation bar css */
nav {
  background-color: rgba(0, 0, 0, 0.478);
  padding: 10px;
}

nav a {
  color: white;
  padding: 3px;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.774);
}